Screen {
    background: $background-darken-1;
}

ASCIName {
    align: left top;
    padding-top: 1;
    padding-left: 4;
    height: 10%;
}

Button {
    content-align: center middle;  
    height: auto;                 
    min-width: 5;                
}

#main-tabbed {
    padding: 0 2;
    height: 90%;
    border: round $background
}

LoadingIndicator {
    border: round $success-darken-2;
    background: $background-darken-1
}

#agent-box {
    height: 100%;
    margin-top: 1 ;
    border: round $accent-darken-2;
    border-title-align: right;
    background: $background-darken-1
}

#input-command-tabbed {
    padding: 0 1; 
    height: 30%;
    background: $background-darken-1;
}

#input-command-tabbed Tab.-active {
    background: $success-darken-2;
}

#input-box {
    border: round $success-darken-2;
    border-title-align: right;
    background: $background;
    background: $background-darken-1;
}

#send-button {
    height: 55%;
    width: 100%;
    border: round $success-darken-2;
    background: $background-darken-1;
    color: $success-darken-1;
    min-width: 6;
}

#send-button:hover {
    background: $background;
}

#command-box {
    border: round $success-darken-2;
    border-title-align: right;
    background: $background-darken-1;
}

#command-buttons, #input-buttons {
    width: 8% ;
    background: $background-darken-1;
    height: 100%;
    margin-left: 1;
    min-width: 6;
    align: center middle;
}

#execute-button {
    height: 55%;
    width: 100%;
    border: round $success-darken-2;
    background: $background-darken-1;
    color: $success-darken-1;
    min-width: 6;
}

#execute-button:hover {
    background: $background;
}

#stop-button, #stop-input-button {
    height: 45%;
    width: 100%;
    min-width: 6;
    border: round $error-darken-2;
    background: $background-darken-1;
    color: $error-darken-1;
}

#stop-button:hover {
    background: $background;
}
